.map{
    display: inline-block;
    width: 600px;
    position: absolute;
    height:1400px;
    border: 3px solid black;
}
.map > div{
    background:red;
    position:absolute;
    display:flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}